button[data-md-color-primary],
button[data-md-color-accent] {
  width: 13rem;
  margin-bottom: 0.4rem;
  padding: 2.4rem 0.8rem 0.4rem;
  transition: background-color 0.25s, opacity          0.25s;
  border-radius: 0.2rem;
  color: white;
  font-size: 1.28rem;
  text-align: left;
  cursor: pointer; }
  button[data-md-color-primary]:hover,
  button[data-md-color-accent]:hover {
    opacity: 0.75; }

button[data-md-color-primary="slate"] {
  background-color: #0B2139; }

[data-md-color-primary="slate"] .md-typeset a {
  color: #0B2139; }

[data-md-color-primary="slate"] .md-header {
  background-color: #0B2139; }

[data-md-color-primary="slate"] .md-hero {
  background-color: #0B2139; }

[data-md-color-primary="slate"] .md-nav__link:active,
[data-md-color-primary="slate"] .md-nav__link--active {
  color: #0B2139; }

[data-md-color-primary="slate"] .md-nav__item--nested > .md-nav__link {
  color: inherit; }

button[data-md-color-primary="mute-turquoise"] {
  background-color: #008FB8; }

[data-md-color-primary="mute-turquoise"] .md-typeset a {
  color: #008FB8; }

[data-md-color-primary="mute-turquoise"] .md-header {
  background-color: #008FB8; }

[data-md-color-primary="mute-turquoise"] .md-hero {
  background-color: #008FB8; }

[data-md-color-primary="mute-turquoise"] .md-nav__link:active,
[data-md-color-primary="mute-turquoise"] .md-nav__link--active {
  color: #008FB8; }

[data-md-color-primary="mute-turquoise"] .md-nav__item--nested > .md-nav__link {
  color: inherit; }

button[data-md-color-primary="turquoise"] {
  background-color: #23ABE3; }

[data-md-color-primary="turquoise"] .md-typeset a {
  color: #23ABE3; }

[data-md-color-primary="turquoise"] .md-header {
  background-color: #23ABE3; }

[data-md-color-primary="turquoise"] .md-hero {
  background-color: #23ABE3; }

[data-md-color-primary="turquoise"] .md-nav__link:active,
[data-md-color-primary="turquoise"] .md-nav__link--active {
  color: #23ABE3; }

[data-md-color-primary="turquoise"] .md-nav__item--nested > .md-nav__link {
  color: inherit; }

button[data-md-color-primary="light-grey-blue"] {
  background-color: #D2E3EB; }

[data-md-color-primary="light-grey-blue"] .md-typeset a {
  color: #D2E3EB; }

[data-md-color-primary="light-grey-blue"] .md-header {
  background-color: #D2E3EB; }

[data-md-color-primary="light-grey-blue"] .md-hero {
  background-color: #D2E3EB; }

[data-md-color-primary="light-grey-blue"] .md-nav__link:active,
[data-md-color-primary="light-grey-blue"] .md-nav__link--active {
  color: #D2E3EB; }

[data-md-color-primary="light-grey-blue"] .md-nav__item--nested > .md-nav__link {
  color: inherit; }

button[data-md-color-primary="dark-teal"] {
  background-color: #194963; }

[data-md-color-primary="dark-teal"] .md-typeset a {
  color: #194963; }

[data-md-color-primary="dark-teal"] .md-header {
  background-color: #194963; }

[data-md-color-primary="dark-teal"] .md-hero {
  background-color: #194963; }

[data-md-color-primary="dark-teal"] .md-nav__link:active,
[data-md-color-primary="dark-teal"] .md-nav__link--active {
  color: #194963; }

[data-md-color-primary="dark-teal"] .md-nav__item--nested > .md-nav__link {
  color: inherit; }

button[data-md-color-primary="teal"] {
  background-color: #236C90; }

[data-md-color-primary="teal"] .md-typeset a {
  color: #236C90; }

[data-md-color-primary="teal"] .md-header {
  background-color: #236C90; }

[data-md-color-primary="teal"] .md-hero {
  background-color: #236C90; }

[data-md-color-primary="teal"] .md-nav__link:active,
[data-md-color-primary="teal"] .md-nav__link--active {
  color: #236C90; }

[data-md-color-primary="teal"] .md-nav__item--nested > .md-nav__link {
  color: inherit; }

button[data-md-color-primary="orange"] {
  background-color: #F8961D; }

[data-md-color-primary="orange"] .md-typeset a {
  color: #F8961D; }

[data-md-color-primary="orange"] .md-header {
  background-color: #F8961D; }

[data-md-color-primary="orange"] .md-hero {
  background-color: #F8961D; }

[data-md-color-primary="orange"] .md-nav__link:active,
[data-md-color-primary="orange"] .md-nav__link--active {
  color: #F8961D; }

[data-md-color-primary="orange"] .md-nav__item--nested > .md-nav__link {
  color: inherit; }

button[data-md-color-primary="green"] {
  background-color: #229246; }

[data-md-color-primary="green"] .md-typeset a {
  color: #229246; }

[data-md-color-primary="green"] .md-header {
  background-color: #229246; }

[data-md-color-primary="green"] .md-hero {
  background-color: #229246; }

[data-md-color-primary="green"] .md-nav__link:active,
[data-md-color-primary="green"] .md-nav__link--active {
  color: #229246; }

[data-md-color-primary="green"] .md-nav__item--nested > .md-nav__link {
  color: inherit; }

button[data-md-color-primary="white"] {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 0 0.1rem rgba(0, 0, 0, 0.54) inset; }

[data-md-color-primary="white"] .md-header {
  background-color: white;
  color: rgba(0, 0, 0, 0.87); }

[data-md-color-primary="white"] .md-hero {
  background-color: white;
  color: rgba(0, 0, 0, 0.87); }
  [data-md-color-primary="white"] .md-hero--expand {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.07); }

button[data-md-color-accent="slate"] {
  background-color: #0B2139; }

[data-md-color-accent="slate"] .md-typeset a:hover,
[data-md-color-accent="slate"] .md-typeset a:active {
  color: #0B2139; }

[data-md-color-accent="slate"] .md-typeset pre code::-webkit-scrollbar-thumb:hover,
[data-md-color-accent="slate"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover {
  background-color: #0B2139; }

[data-md-color-accent="slate"] .md-typeset .md-clipboard:hover::before,
[data-md-color-accent="slate"] .md-typeset .md-clipboard:active::before {
  color: #0B2139; }

[data-md-color-accent="slate"] .md-typeset .footnote li:hover .footnote-backref:hover,
[data-md-color-accent="slate"] .md-typeset .footnote li:target .footnote-backref {
  color: #0B2139; }

[data-md-color-accent="slate"] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent="slate"] .md-typeset [id]:target .headerlink,
[data-md-color-accent="slate"] .md-typeset [id] .headerlink:focus {
  color: #0B2139; }

[data-md-color-accent="slate"] .md-nav__link:focus,
[data-md-color-accent="slate"] .md-nav__link:hover {
  color: #0B2139; }

[data-md-color-accent="slate"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #0B2139; }

[data-md-color-accent="slate"] .md-search-result__link[data-md-state="active"], [data-md-color-accent="slate"] .md-search-result__link:hover {
  background-color: rgba(11, 33, 57, 0.1); }

[data-md-color-accent="slate"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #0B2139; }

[data-md-color-accent="slate"] .md-source-file:hover::before {
  background-color: #0B2139; }

button[data-md-color-accent="mute-turquoise"] {
  background-color: #008FB8; }

[data-md-color-accent="mute-turquoise"] .md-typeset a:hover,
[data-md-color-accent="mute-turquoise"] .md-typeset a:active {
  color: #008FB8; }

[data-md-color-accent="mute-turquoise"] .md-typeset pre code::-webkit-scrollbar-thumb:hover,
[data-md-color-accent="mute-turquoise"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover {
  background-color: #008FB8; }

[data-md-color-accent="mute-turquoise"] .md-typeset .md-clipboard:hover::before,
[data-md-color-accent="mute-turquoise"] .md-typeset .md-clipboard:active::before {
  color: #008FB8; }

[data-md-color-accent="mute-turquoise"] .md-typeset .footnote li:hover .footnote-backref:hover,
[data-md-color-accent="mute-turquoise"] .md-typeset .footnote li:target .footnote-backref {
  color: #008FB8; }

[data-md-color-accent="mute-turquoise"] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent="mute-turquoise"] .md-typeset [id]:target .headerlink,
[data-md-color-accent="mute-turquoise"] .md-typeset [id] .headerlink:focus {
  color: #008FB8; }

[data-md-color-accent="mute-turquoise"] .md-nav__link:focus,
[data-md-color-accent="mute-turquoise"] .md-nav__link:hover {
  color: #008FB8; }

[data-md-color-accent="mute-turquoise"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #008FB8; }

[data-md-color-accent="mute-turquoise"] .md-search-result__link[data-md-state="active"], [data-md-color-accent="mute-turquoise"] .md-search-result__link:hover {
  background-color: rgba(0, 143, 184, 0.1); }

[data-md-color-accent="mute-turquoise"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #008FB8; }

[data-md-color-accent="mute-turquoise"] .md-source-file:hover::before {
  background-color: #008FB8; }

button[data-md-color-accent="turquoise"] {
  background-color: #23ABE3; }

[data-md-color-accent="turquoise"] .md-typeset a:hover,
[data-md-color-accent="turquoise"] .md-typeset a:active {
  color: #23ABE3; }

[data-md-color-accent="turquoise"] .md-typeset pre code::-webkit-scrollbar-thumb:hover,
[data-md-color-accent="turquoise"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover {
  background-color: #23ABE3; }

[data-md-color-accent="turquoise"] .md-typeset .md-clipboard:hover::before,
[data-md-color-accent="turquoise"] .md-typeset .md-clipboard:active::before {
  color: #23ABE3; }

[data-md-color-accent="turquoise"] .md-typeset .footnote li:hover .footnote-backref:hover,
[data-md-color-accent="turquoise"] .md-typeset .footnote li:target .footnote-backref {
  color: #23ABE3; }

[data-md-color-accent="turquoise"] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent="turquoise"] .md-typeset [id]:target .headerlink,
[data-md-color-accent="turquoise"] .md-typeset [id] .headerlink:focus {
  color: #23ABE3; }

[data-md-color-accent="turquoise"] .md-nav__link:focus,
[data-md-color-accent="turquoise"] .md-nav__link:hover {
  color: #23ABE3; }

[data-md-color-accent="turquoise"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #23ABE3; }

[data-md-color-accent="turquoise"] .md-search-result__link[data-md-state="active"], [data-md-color-accent="turquoise"] .md-search-result__link:hover {
  background-color: rgba(35, 171, 227, 0.1); }

[data-md-color-accent="turquoise"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #23ABE3; }

[data-md-color-accent="turquoise"] .md-source-file:hover::before {
  background-color: #23ABE3; }

button[data-md-color-accent="light-grey-blue"] {
  background-color: #D2E3EB; }

[data-md-color-accent="light-grey-blue"] .md-typeset a:hover,
[data-md-color-accent="light-grey-blue"] .md-typeset a:active {
  color: #D2E3EB; }

[data-md-color-accent="light-grey-blue"] .md-typeset pre code::-webkit-scrollbar-thumb:hover,
[data-md-color-accent="light-grey-blue"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover {
  background-color: #D2E3EB; }

[data-md-color-accent="light-grey-blue"] .md-typeset .md-clipboard:hover::before,
[data-md-color-accent="light-grey-blue"] .md-typeset .md-clipboard:active::before {
  color: #D2E3EB; }

[data-md-color-accent="light-grey-blue"] .md-typeset .footnote li:hover .footnote-backref:hover,
[data-md-color-accent="light-grey-blue"] .md-typeset .footnote li:target .footnote-backref {
  color: #D2E3EB; }

[data-md-color-accent="light-grey-blue"] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent="light-grey-blue"] .md-typeset [id]:target .headerlink,
[data-md-color-accent="light-grey-blue"] .md-typeset [id] .headerlink:focus {
  color: #D2E3EB; }

[data-md-color-accent="light-grey-blue"] .md-nav__link:focus,
[data-md-color-accent="light-grey-blue"] .md-nav__link:hover {
  color: #D2E3EB; }

[data-md-color-accent="light-grey-blue"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #D2E3EB; }

[data-md-color-accent="light-grey-blue"] .md-search-result__link[data-md-state="active"], [data-md-color-accent="light-grey-blue"] .md-search-result__link:hover {
  background-color: rgba(210, 227, 235, 0.1); }

[data-md-color-accent="light-grey-blue"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #D2E3EB; }

[data-md-color-accent="light-grey-blue"] .md-source-file:hover::before {
  background-color: #D2E3EB; }

button[data-md-color-accent="dark-teal"] {
  background-color: #194963; }

[data-md-color-accent="dark-teal"] .md-typeset a:hover,
[data-md-color-accent="dark-teal"] .md-typeset a:active {
  color: #194963; }

[data-md-color-accent="dark-teal"] .md-typeset pre code::-webkit-scrollbar-thumb:hover,
[data-md-color-accent="dark-teal"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover {
  background-color: #194963; }

[data-md-color-accent="dark-teal"] .md-typeset .md-clipboard:hover::before,
[data-md-color-accent="dark-teal"] .md-typeset .md-clipboard:active::before {
  color: #194963; }

[data-md-color-accent="dark-teal"] .md-typeset .footnote li:hover .footnote-backref:hover,
[data-md-color-accent="dark-teal"] .md-typeset .footnote li:target .footnote-backref {
  color: #194963; }

[data-md-color-accent="dark-teal"] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent="dark-teal"] .md-typeset [id]:target .headerlink,
[data-md-color-accent="dark-teal"] .md-typeset [id] .headerlink:focus {
  color: #194963; }

[data-md-color-accent="dark-teal"] .md-nav__link:focus,
[data-md-color-accent="dark-teal"] .md-nav__link:hover {
  color: #194963; }

[data-md-color-accent="dark-teal"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #194963; }

[data-md-color-accent="dark-teal"] .md-search-result__link[data-md-state="active"], [data-md-color-accent="dark-teal"] .md-search-result__link:hover {
  background-color: rgba(25, 73, 99, 0.1); }

[data-md-color-accent="dark-teal"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #194963; }

[data-md-color-accent="dark-teal"] .md-source-file:hover::before {
  background-color: #194963; }

button[data-md-color-accent="teal"] {
  background-color: #236C90; }

[data-md-color-accent="teal"] .md-typeset a:hover,
[data-md-color-accent="teal"] .md-typeset a:active {
  color: #236C90; }

[data-md-color-accent="teal"] .md-typeset pre code::-webkit-scrollbar-thumb:hover,
[data-md-color-accent="teal"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover {
  background-color: #236C90; }

[data-md-color-accent="teal"] .md-typeset .md-clipboard:hover::before,
[data-md-color-accent="teal"] .md-typeset .md-clipboard:active::before {
  color: #236C90; }

[data-md-color-accent="teal"] .md-typeset .footnote li:hover .footnote-backref:hover,
[data-md-color-accent="teal"] .md-typeset .footnote li:target .footnote-backref {
  color: #236C90; }

[data-md-color-accent="teal"] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent="teal"] .md-typeset [id]:target .headerlink,
[data-md-color-accent="teal"] .md-typeset [id] .headerlink:focus {
  color: #236C90; }

[data-md-color-accent="teal"] .md-nav__link:focus,
[data-md-color-accent="teal"] .md-nav__link:hover {
  color: #236C90; }

[data-md-color-accent="teal"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #236C90; }

[data-md-color-accent="teal"] .md-search-result__link[data-md-state="active"], [data-md-color-accent="teal"] .md-search-result__link:hover {
  background-color: rgba(35, 108, 144, 0.1); }

[data-md-color-accent="teal"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #236C90; }

[data-md-color-accent="teal"] .md-source-file:hover::before {
  background-color: #236C90; }

button[data-md-color-accent="orange"] {
  background-color: #F8961D; }

[data-md-color-accent="orange"] .md-typeset a:hover,
[data-md-color-accent="orange"] .md-typeset a:active {
  color: #F8961D; }

[data-md-color-accent="orange"] .md-typeset pre code::-webkit-scrollbar-thumb:hover,
[data-md-color-accent="orange"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover {
  background-color: #F8961D; }

[data-md-color-accent="orange"] .md-typeset .md-clipboard:hover::before,
[data-md-color-accent="orange"] .md-typeset .md-clipboard:active::before {
  color: #F8961D; }

[data-md-color-accent="orange"] .md-typeset .footnote li:hover .footnote-backref:hover,
[data-md-color-accent="orange"] .md-typeset .footnote li:target .footnote-backref {
  color: #F8961D; }

[data-md-color-accent="orange"] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent="orange"] .md-typeset [id]:target .headerlink,
[data-md-color-accent="orange"] .md-typeset [id] .headerlink:focus {
  color: #F8961D; }

[data-md-color-accent="orange"] .md-nav__link:focus,
[data-md-color-accent="orange"] .md-nav__link:hover {
  color: #F8961D; }

[data-md-color-accent="orange"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #F8961D; }

[data-md-color-accent="orange"] .md-search-result__link[data-md-state="active"], [data-md-color-accent="orange"] .md-search-result__link:hover {
  background-color: rgba(248, 150, 29, 0.1); }

[data-md-color-accent="orange"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #F8961D; }

[data-md-color-accent="orange"] .md-source-file:hover::before {
  background-color: #F8961D; }

button[data-md-color-accent="green"] {
  background-color: #229246; }

[data-md-color-accent="green"] .md-typeset a:hover,
[data-md-color-accent="green"] .md-typeset a:active {
  color: #229246; }

[data-md-color-accent="green"] .md-typeset pre code::-webkit-scrollbar-thumb:hover,
[data-md-color-accent="green"] .md-typeset .codehilite pre::-webkit-scrollbar-thumb:hover {
  background-color: #229246; }

[data-md-color-accent="green"] .md-typeset .md-clipboard:hover::before,
[data-md-color-accent="green"] .md-typeset .md-clipboard:active::before {
  color: #229246; }

[data-md-color-accent="green"] .md-typeset .footnote li:hover .footnote-backref:hover,
[data-md-color-accent="green"] .md-typeset .footnote li:target .footnote-backref {
  color: #229246; }

[data-md-color-accent="green"] .md-typeset [id]:hover .headerlink:hover,
[data-md-color-accent="green"] .md-typeset [id]:target .headerlink,
[data-md-color-accent="green"] .md-typeset [id] .headerlink:focus {
  color: #229246; }

[data-md-color-accent="green"] .md-nav__link:focus,
[data-md-color-accent="green"] .md-nav__link:hover {
  color: #229246; }

[data-md-color-accent="green"] .md-search__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #229246; }

[data-md-color-accent="green"] .md-search-result__link[data-md-state="active"], [data-md-color-accent="green"] .md-search-result__link:hover {
  background-color: rgba(34, 146, 70, 0.1); }

[data-md-color-accent="green"] .md-sidebar__scrollwrap::-webkit-scrollbar-thumb:hover {
  background-color: #229246; }

[data-md-color-accent="green"] .md-source-file:hover::before {
  background-color: #229246; }

@media only screen and (max-width: 59.9375em) {
  [data-md-color-primary="slate"] .md-nav__source {
    background-color: rgba(9, 26, 45, 0.9675); }
  [data-md-color-primary="mute-turquoise"] .md-nav__source {
    background-color: rgba(0, 114, 146, 0.9675); }
  [data-md-color-primary="turquoise"] .md-nav__source {
    background-color: rgba(28, 136, 181, 0.9675); }
  [data-md-color-primary="light-grey-blue"] .md-nav__source {
    background-color: rgba(167, 181, 187, 0.9675); }
  [data-md-color-primary="dark-teal"] .md-nav__source {
    background-color: rgba(20, 58, 79, 0.9675); }
  [data-md-color-primary="teal"] .md-nav__source {
    background-color: rgba(28, 86, 115, 0.9675); }
  [data-md-color-primary="orange"] .md-nav__source {
    background-color: rgba(197, 119, 23, 0.9675); }
  [data-md-color-primary="green"] .md-nav__source {
    background-color: rgba(27, 116, 56, 0.9675); }
  [data-md-color-primary="white"] .md-nav__source {
    background-color: rgba(0, 0, 0, 0.07);
    color: rgba(0, 0, 0, 0.87); } }

@media only screen and (max-width: 76.1875em) {
  html [data-md-color-primary="slate"] .md-nav--primary .md-nav__title--site {
    background-color: #0B2139; }
  html [data-md-color-primary="mute-turquoise"] .md-nav--primary .md-nav__title--site {
    background-color: #008FB8; }
  html [data-md-color-primary="turquoise"] .md-nav--primary .md-nav__title--site {
    background-color: #23ABE3; }
  html [data-md-color-primary="light-grey-blue"] .md-nav--primary .md-nav__title--site {
    background-color: #D2E3EB; }
  html [data-md-color-primary="dark-teal"] .md-nav--primary .md-nav__title--site {
    background-color: #194963; }
  html [data-md-color-primary="teal"] .md-nav--primary .md-nav__title--site {
    background-color: #236C90; }
  html [data-md-color-primary="orange"] .md-nav--primary .md-nav__title--site {
    background-color: #F8961D; }
  html [data-md-color-primary="green"] .md-nav--primary .md-nav__title--site {
    background-color: #229246; }
  html [data-md-color-primary="white"] .md-nav--primary .md-nav__title--site {
    background-color: white;
    color: rgba(0, 0, 0, 0.87); }
  [data-md-color-primary="white"] .md-hero {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.07); } }

@media only screen and (min-width: 76.25em) {
  [data-md-color-primary="slate"] .md-tabs {
    background-color: #0B2139; }
  [data-md-color-primary="mute-turquoise"] .md-tabs {
    background-color: #008FB8; }
  [data-md-color-primary="turquoise"] .md-tabs {
    background-color: #23ABE3; }
  [data-md-color-primary="light-grey-blue"] .md-tabs {
    background-color: #D2E3EB; }
  [data-md-color-primary="dark-teal"] .md-tabs {
    background-color: #194963; }
  [data-md-color-primary="teal"] .md-tabs {
    background-color: #236C90; }
  [data-md-color-primary="orange"] .md-tabs {
    background-color: #F8961D; }
  [data-md-color-primary="green"] .md-tabs {
    background-color: #229246; }
  [data-md-color-primary="white"] .md-tabs {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.07);
    background-color: white;
    color: rgba(0, 0, 0, 0.87); } }

@media only screen and (min-width: 60em) {
  [data-md-color-primary="white"] .md-search__input {
    background-color: rgba(0, 0, 0, 0.07); }
    [data-md-color-primary="white"] .md-search__input::-webkit-input-placeholder {
      color: rgba(0, 0, 0, 0.54); }
    [data-md-color-primary="white"] .md-search__input:-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.54); }
    [data-md-color-primary="white"] .md-search__input::-ms-input-placeholder {
      color: rgba(0, 0, 0, 0.54); }
    [data-md-color-primary="white"] .md-search__input::placeholder {
      color: rgba(0, 0, 0, 0.54); } }

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IiIsImZpbGUiOiJhc3NldHMvc3R5bGVzaGVldHMvYXBwbGljYXRpb24tcGFsZXR0ZS5lODgxMzljMi5jc3MiLCJzb3VyY2VSb290IjoiIn0=*/