{% import "partials/language.html" as lang with context %}
<footer class="md-footer">
  <div class="md-footer-meta md-typeset">
    <div class="md-footer-meta__inner md-grid">      
      <div class="nersc-foot-row">
	<div class="nersc-foot-col-3">
	  <div class="nersc-foot-cell">
	    <div class="nersc-foot-title">Site Links</div>
	    <a href="https://www.nersc.gov/" title="NERSC Main Site">NERSC Main Site</a><br>
	    <a href="https://docs.nersc.gov/" title="User Documentation">User Documentation</a><br>
	    <a href="https://my.nersc.gov/"  title="MyNERSC">MyNERSC</a><br><br>
	    <a href="https://www.lbl.gov/" title="LBL">
	      <img src="{{ base_url }}/img/lbl_logo.png">
	    </a>
	  </div>
	</div><!-- nersc foot col -->
	
	<div class="nersc-foot-col-3">
	  <div class="nersc-foot-cell">	    
	    <div class="nersc-foot-title">Quick Links</div>
	    <a href="{{ base_url }}/accounts/accounts/#obtaining-an-account" title="Obtaining an Account">Obtaining an Account</a><br>
	    <a href="{{ base_url }}/development/compilers" title="Building Software">Building Software</a><br>
	    <a href="{{ base_url }}/jobs/" title="Running Jobs">Running Jobs</a><br>
	    <a href="{{ base_url }}/data/management" title="Managing Data">Managing Data</a><br>
	    <a href="{{ base_url }}/accounts/passwords/#forgotten-passwords" title="Reset Password">Reset Password</a>
	  </div>
	</div><!-- nersc foot col -->

	<div class="nersc-foot-col-3">
	  <div class="nersc-foot-cell">
	    <div class="nersc-foot-title">About</div>
	    <a href="{{ base_url }}/accounts/policy/#acknowledge-use-of-nersc-resources" title="Acknowledge NERSC">Acknowledge NERSC</a><br>
	    <a href="https://www.nersc.gov/about/contact-us/" title="Contact Us">Contact Us</a><br>
	    <a href="https://www.lbl.gov/disclaimers/" title="Privacy and Security Notice">Privacy and Security Notice</a><br><br>
	    <a href="https://science.energy.gov" title="DOE Office of Science">
	      <img src="{{ base_url }}/img/doe_logo.png">
	    </a>
	  </div> <!-- table display ...-->
	</div> <!-- nersc foot col -->
      </div> <!-- nersc foot row -->
      
      {% block social %}
        {% include "partials/social.html" %}
      {% endblock %}
    </div>
  </div>
</footer>
